.movie-search-item-card {
  width: 244px;
  margin: 12px;
}

.movie-search-item-content {
  height: 98px;
}

.movie-search-item-image {
  display: flex;
  justify-content: center;

  img{
    height: 270px;
    width: 220px;
    padding: 6px 0 2px 0;
  }
}

.header.movie-search-item-header {
  margin: 0px;
  font-size: 1 rem;
}