.app-body {
  // background-color: rgb(12, 0, 0);
  min-height: 100vh;
  padding-bottom: 8px;
}

.nominate-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 8px;
  margin: 20px;
  min-height: auto;
}

.search-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 8px;
  margin: 20px;
  // min-height: 1000px;
  min-height: auto;
}

.search-results-list {
  display: flex;
  flex-direction: row;
}

ul {
  padding: 0;
}

ul.movie-list-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 12px;
  padding-bottom: 12px;
}

.ui.card {
  width: 450px;
}

.ui.grey.button {
  margin-left: 20px;
}
