.nomination-item-card {
  width: 214px;
  margin: 12px;
}

.nomination-item-content {
  height: 76px;
}

.nomination-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.nomination-item-header {
  margin: 0px;
  font-size: 0.9rem;
}
